<launch>

<node name="GodNode" pkg="se306_example" type="GodNode" output="screen"/>



<node name="GateOne" pkg="se306_example" type="Gate" output="screen">
<param name="isHorizontal" value="true" type="bool"/>
<param name="px" value=" 5" type="double"/>
<param name="py" value=" 16.5" type="double"/>
<param name="directionToOpen" value="right" type="string"/>
</node>

<node name="GateTwo" pkg="se306_example" type="Gate" output="screen">
<param name="isHorizontal" value="true" type="bool"/>
<param name="px" value=" 25" type="double"/>
<param name="py" value=" 16.5" type="double"/>
<param name="directionToOpen" value="left" type="string"/>
</node>

<node name="GateThree" pkg="se306_example" type="Gate" output="screen">
<param name="isHorizontal" value="false" type="bool"/>
<param name="px" value=" 13.5" type="double"/>
<param name="py" value=" 25" type="double"/>
<param name="directionToOpen" value="down" type="string"/>
</node>


<node name="SheepOne" pkg="se306_example" type="NewSheep" output="screen">
<param name="px" value=" 10" type="double"/>
<param name="py" value=" 9" type="double"/>

</node>


<node name="SheepTwo" pkg="se306_example" type="NewSheep" output="screen">
<param name="px" value=" 10" type="double"/>
<param name="py" value=" 25" type="double"/>

</node>

<node name="SheepThree" pkg="se306_example" type="NewSheep" output="screen">
<param name="px" value=" 10" type="double"/>
<param name="py" value=" 25" type="double"/>

</node>



<node name="GrassOne" pkg="se306_example" type="Grass" output="screen">
<param name="px" value=" 10" type="double"/>
<param name="py" value=" 30" type="double"/>
<param name="robot_number" value="One" type="string"/>
</node>





<!--


<node name="PoisonGrassOne" pkg="se306_example" type="PoisonGrass" output="screen">
<param name="px" value=" 10" type="double"/>
<param name="py" value=" 25" type="double"/>

</node>

</node>


-->

<node name="Farmer" pkg="se306_example" type="FarmerOne" output="screen">
<param name="px" value=" 10" type="double"/>
<param name="py" value=" 3" type="double"/>
</node>


<!--




<node name="PoisonGrassOne" pkg="se306_example" type="PoisonGrassOne" output="screen"/>
<node name="SheepOne" pkg="se306_example" type="SheepOne" output="screen"/>



<node name="Truck" pkg="se306_example" type="Truck" output="screen"/>



<node name="SheepTwo" pkg="se306_example" type="TestSheep" output="screen"/>
-->

</launch>
